{% extends 'main/main.html' %}
{% block content %}
<div class="wrapper row3">
  <div id="slider" class="clear">
    <div class="flexslider basicslider">
      <ul class="slides">
        <li><a href="#"><img class="radius-10" src="/static/images/demo/slides/back1.jpg" style="width:978px;height:400px"></a></li>
        <li><a href="#"><img class="radius-10" src="/static/images/demo/slides/back2.jpg" style="width:978px;height:400px"></a></li>
        <li><a href="#"><img class="radius-10" src="/static/images/demo/slides/back3.jpg" style="width:978px;height:400px"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper row3">
  <main class="container clear">
    <!-- main body -->

    <h2 class="sectiontitle">인기 레시피 Top12</h2>
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        {% for recipe in recipe_list %}
        <li>
          <figure><img class="radius-10 btmspace-10" src="{{recipe.poster}}" alt="">
            <figcaption><a href="#">{{recipe.title}}</a></figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>
    <h2 class="sectiontitle">인기 맛집 Top12</h2>
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        {% for f in food_list %}
        <li>
          <figure><img class="radius-10 btmspace-10" src="https://www.menupan.com{{f.poster}}" alt="">
            <figcaption><a href="#">{{f.name}}</a></figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>

     <h2 class="sectiontitle">최신 방문 레시피</h2>
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides">
        <li>
          <figure><img class="radius-10 btmspace-10" src="/static/images/demo/320x185.png" alt="">
            <figcaption><a href="#">Lorem Ipsum Dolor Sit Amet</a></figcaption>
          </figure>
        </li>
      </ul>
    </div>

  </main>
</div>
{% endblock %}