{% extends 'main/main.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td colspan="3" class="text-center">
                        <img src="{{rd.detail.poster}}"
                             style="width:800px; height:250px;">

                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <h3>{{rd.detail.title}}</h3>
                    </td>
                </tr>
                 <tr>
                    <td colspan="3" class="text-center">
                        <h3>{{rd.detail.content}}</h3>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">{{rd.detail.info1}}</td>
                    <td class="text-center">{{rd.detail.info2}}</td>
                    <td class="text-center">{{rd.detail.info3}}</td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td><h3>[재료]</h3></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            {% for d in rd.data %}
                            <li>{{d}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

            </table>
            <table class="table">
                <tr>
                    <td>
                        {% for m,p in rd.make_posters %}
                        <table class="table">
                            <tr>
                                <td width="80%" class="text-left">{{m}}</td>
                                <td width="20%" class="text-right">
                                    <img src="{{ p }}" style="width:150px;height:100px;">
                                </td>
                            </tr>
                        </table>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td colspan="2">
                        <h3>쉐프정보</h3>
                    </td>
                </tr>
                <tr>
                    <td width="20%" rowspan="2">
                        <img src="{{rd.detail.chef_poster}}" style="width:150px;height:110px;">
                    </td>
                    <td width="80%">
                        {{rd.detail.chef}}
                    </td>
                </tr>
                <tr>
                    <td width="80%">
                        {{rd.detail.chef_profile}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}